body {
    background-color: rgb(10, 10, 10);
    color: white;
}

p {
    margin: 0px;
}
.consoletext {
    padding-top: 0.1em;
}

#checkbox_container {
    position: absolute;
}

#main_container {
    position: fixed;
    top: 0px;
    bottom: 0px;
}

#p5_container {
    width: 100%;
    height: 100%;
}

#console_container {
    position: fixed;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
}
#console-toggle-button {
    width: 100%;
    background: rgb(30, 30, 30);
    border: none;
}
#console-toggle-button:hover {
    background: rgb(50, 50, 50);
}
#console-toggle-button:focus {
    outline: none;
}
#console {
    display: none;
    height: 200px;
    padding: 20px;
}

